.gallery-mobile {
    position: relative;
    width: 100%;
    height: 100%; /* Or set a fixed height */
	overflow: hidden;	

    &__anchor {
        scroll-margin-top: $scroll-margin-top--projects-gallery;
    }
	
	&__slider {
        height: 100%;
        white-space: nowrap; // gallery overflow
        font-size: 0; // no space between elements (img)

        transition: 0.8s;
		
		.slide {
            height: 100%;
			width: 100%;
            white-space: normal; // reset overflow
			display: inline-flex; // elements are on one line
			flex-direction: column;
            justify-content: center;
			align-items: center;

            &__link {
                height: 100%;
			    width: 100%;

                &__img {
                    height: 100%;
			        width: 100%;
                    object-position: 50% 50%;
                    object-fit: cover;
                }
            }
		}
	}

    &__description {
        position: absolute;
		bottom: 60%;
		width: 100%;
        white-space: nowrap; // gallery overflow
        font-size: 0; // no space between elements (img)

        transition: 0.8s;

        .slide-caption {
            height: 100%;
			width: 100%;
            white-space: normal; // reset overflow
			display: inline-flex; // elements are on one line
			flex-direction: column;
            justify-content: center;
			align-items: center;
            gap: $space-xs;

            & > h2 {
                font-size: $fs-2xl;
            }
        }
    }
	
	&__nav {
		position: absolute;
		bottom: 50%;
		width: 100%;
        z-index: 3;

		
		> div+div {
			visibility: hidden; /* Hide all but first P/N container */
		}
		
		.nav-btns {
			.btn-slide {
                position: absolute;
				left: 0;
                width: 60px;
				height: 60px;
                background-image: url(../../ressources/icons/chevron-left--white.svg);

                opacity: 0.7;
				transition: 0.3s;
				transform: translateY(-50%);
				
				&--next {
                    left: auto;
                    right: 0;
                    background-image: url(../../ressources/icons/chevron-right--white.svg);
				}
				
				&:hover {
					opacity: 1;
				}
			}	
		}
	}
	
	&__navbar {
        position: absolute;
        bottom: 5%;
		width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $space-xs;
       

        & > a {
            width: 20px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: $color-white;
            transition: 0.3s;
            
            :hover {
                background: $color-white--transparent;
            }
        }
        
        & a+a {
            background: $color-white--transparent; /* Dim all but first */
        }
    }
}



// -----------------------------------------------------------------------
/* SLIDER ANIMATION IMAGES*/
#slide1:target ~ .gallery-mobile__slider {
	transform: translateX(0%); 
}

#slide2:target ~ .gallery-mobile__slider {
	transform: translateX(-100%);
}

#slide3:target ~ .gallery-mobile__slider {
	transform: translateX(-200%);
}

#slide4:target ~ .gallery-mobile__slider {
	transform: translateX(-300%); 
}
/* More slides? Add here more rules */
// -----------------------------------------------------------------------



// -----------------------------------------------------------------------
/* SLIDER ANIMATION TITLES AND DESCRIPTIONS*/
#slide1:target ~ .gallery-mobile__description {
	transform: translateX(0%); 
}

#slide2:target ~ .gallery-mobile__description {
	transform: translateX(-100%);
}

#slide3:target ~ .gallery-mobile__description {
	transform: translateX(-200%);
}

#slide4:target ~ .gallery-mobile__description {
	transform: translateX(-300%); 
}
/* More slides? Add here more rules */
// -----------------------------------------------------------------------




// -----------------------------------------------------------------------
/* ANIMATION NAV BTNS */
/* ALL: */
.gallery-mobile >slide:target ~ .gallery-mobile__nav >* {      
	visibility: hidden;
}

/* ACTIVE: */
#slide1:target ~ .gallery-mobile__nav >*:nth-child(1) {
	visibility: visible;
}
#slide2:target ~ .gallery-mobile__nav >*:nth-child(2) {
	visibility: visible;
}
#slide3:target ~ .gallery-mobile__nav >*:nth-child(3) {
	visibility: visible;
}
#slide4:target ~ .gallery-mobile__nav >*:nth-child(4) {
	visibility: visible;
}
/* More slides? Add here more rules */
// -----------------------------------------------------------------------



// -----------------------------------------------------------------------
/* ANIMATION NAVBAR */
/* ALL: */
.gallery-mobile >s:target ~ .gallery-mobile__navbar >* {      
	background: $color-white--transparent;
}

/* ACTIVE */
#slide1:target ~ .gallery-mobile__navbar >*:nth-child(1) {
	background: $color-white;
}

#slide2:target ~ .gallery-mobile__navbar >*:nth-child(2) {
	background: $color-white;
}

#slide3:target ~ .gallery-mobile__navbar >*:nth-child(3) {
	background: $color-white;
}

#slide4:target ~ .gallery-mobile__navbar >*:nth-child(4) {
	background: $color-white;
}
/* More slides? Add here more rules */
// -----------------------------------------------------------------------