body {
    font-family: 'Roboto Slab', serif;
    color: $color-white;
}

h1 {
    font-size: $fs-4xl;
    font-weight: 900;
}

h2 {
    font-size: $fs-3xl;
    font-weight: 700;
}

h3 {
    font-size: $fs-2xl;
    font-weight: 500;
}

p {
    font-size: $fs-regular;
    font-weight: 400;
}