.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $height--header;
    padding: 0 $padding-sides;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $space-regular;
    box-sizing: border-box;
    z-index: 5;

    @include  mobile-large {
        padding: 0 $padding-sides--mobile-large;
    }

    .logo {
        font-size: $fs-large;
        font-weight: $fw-medium;
        flex-grow: 1;
    }

    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $space-xs;


        .icon--dark {
            width: $space-regular;
            height: $space-regular;
            background-image: url(../../ressources/icons/moon--disabled.svg);      
        }

        .icon--light {
            width: $space-regular;
            height: $space-regular;
            background-image: url(../../ressources/icons/sun--white.svg);
        }        
    }      

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon--burger {
            width: $space-medium;
            height: $space-medium;
            background-image: url(../../ressources/icons/menu--white.svg);   
        }

        .nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $color-primary-1;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
    
            transform: translateX(100vw);
            transition: transform 200ms ease-in-out;

            .icon--burger-closed {
                width: $space-large;
                height: $space-large;
                background-image: url(../../ressources/icons/x.svg); 
            }
            
            &__list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: $space-2xl;

                .nav-link {
                    background-color: transparent;
                    border: none;
                    font-size: $fs-2xl;

                    &:focus {
                        border-bottom: 3px solid $color-secondary;
                    }
                }    
            }

            &:target {
                transform: translate(0);
            }
        }
    }    
}
    
.main-index {
    
    .home {
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: $height--header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
  
        &::before {
            content: "";
            position: absolute;
            bottom: -2500px;
            left: -2500px;
            width: 5000px;
            aspect-ratio: 1 / 1;
            background-image: conic-gradient(from 0deg at 50% 50%, $color-primary-1 25%, $color-primary-1--lightmode 75%);
            z-index: -5;

            transform: rotate(0deg);
            transition: transform 2s ease-in-out;
        }

        &__3D {
            width: 100%;
            height: 100%;
            background-color: $color-primary-1-bonus;

            &__canvas {
                width: 100%;
                height: 10px;
            }
        }
    
        &__info {
            display: flex;
            flex-direction: column;
            gap: $space-regular;
            padding: $padding-sides;

            @include  mobile-large {
                gap: $space-large;
                padding: $padding-sides--mobile-large;
            }
   
            &__text > * {
                color: $color-primary-3;
                font-size: $fs-medium;
                font-weight: $fw-medium;
                line-height: $fs-large;
            }
            
            &__btn {
                width: fit-content;
                padding: $space-xs $space-small;
                border-radius: $space-small;
                color: $color-primary-1;
                background-color: $color-secondary;
                font-size: $fs-regular;
                font-weight: $fw-large;
            }           
        }
    }

    .projects {
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: $padding-top--projects;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;   

        &::before {
            content: "";
            position: absolute;
            bottom: -2500px;
            left: -2500px;
            width: 5000px;
            aspect-ratio: 1 / 1;
            background-image: conic-gradient(from 0deg at 50% 50%, $color-primary-2 25%, $color-primary-2--lightmode 75%);
            z-index: -5;

            transform: rotate(0deg);
            transition: transform 2s ease-in-out;
        }

        &__header {
            width: 100%;
            min-height: $height--projects-header;
            padding: 0 $padding-sides;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $space-small;
            text-align: center;
            box-sizing: border-box;

            @include  mobile-large {
                padding: 0 $padding-sides--mobile-large;
            }
        }

        &__gallery {
            width: 100%;
            height: $height--projects-gallery;
            padding-top: $padding-top--projects-gallery;
            display: flex;
            justify-content: center;
            align-items: center;

            // -----------------------------------------

            // the css is in the folder "component"

            // -----------------------------------------
        }
    }
            
    .contact {
        position: relative;
        width: 100%;
        height: $height--contact;
        padding-top: $height--header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $space-regular;
        overflow: hidden;
        box-sizing: border-box;

        

        &::before {
            content: "";
            position: absolute;
            bottom: -2500px;
            left: -2500px;
            width: 5000px;
            aspect-ratio: 1 / 1;
            background-image: conic-gradient(from 0deg at 50% 50%, $color-primary-1 25%, $color-primary-1--lightmode 75%);
            z-index: -5;

            transform: rotate(0deg);
            transition: transform 2s ease-in-out;
        }

        &__info {
            width: 100%;
            padding: 0 $padding-sides;
            display: flex;
            flex-direction: column;
            gap: $space-regular;
            box-sizing: border-box;

            @include  mobile-large {
                padding: 0 $padding-sides--mobile-large;
            }
            
            &__header {
                display: flex;
                justify-content:space-between;
                align-items: center;
                
                .contact-network {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: $space-xs;

                    &__icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        background-color: $color-secondary;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        .contact-link {
                            width: 100%;
                            height: 100%;
                            margin: $space-2xs;
                            background-size: contain;
                        }

                        .contact-link--mail {
                            background-image: url(../../ressources/icons/mail--blue.svg);
                        }

                        .contact-link--linkedin {
                            background-image: url(../../ressources/icons/linkedin--blue.svg);
                        }

                        .contact-link--codepen {
                            background-image: url(../../ressources/icons/codepen--blue.svg);
                        }                      
                    }
                }
            }
        }

        &__3D {
            width: 100%;
            flex: 1 0 0;
            background-color: $color-primary-1-bonus;

            &__canvas {
                width: 100%;
                height: 10px;
            }
        }
    }
}


.footer {
    width: 100%;
    height: $height--footer;
    background-color: $color-primary-3;
    padding: 0 $padding-sides;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $space-2xs;
    box-sizing: border-box;
    
    &__law {
        width: 100%;
        display: flex;
        justify-content: space-between; 
        align-items: center; 

        .link-law {
            width: 100%;
            color: $color-primary-1;
            font-size: $fs-xs;
            font-weight: $fw-regular;
            text-decoration: underline;   
        }
    }

    &__text {
        color: $color-primary-1;
        font-size: $fs-xs;
        font-weight: $fw-regular;
        text-align: center;
    }  
}









	
	


	
	












// .header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: $height-header--widescreen;
//     padding: 0 50px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     z-index: 1000;
//     box-sizing: border-box;

//     .burger-menu {
//         display: none;
//     }

//     .nav__list {
//         display: flex;
//         justify-content: center;
//         flex-grow: 1;
//         gap: 50px;

//         &__link {
//             color: $color-white;
//             text-decoration: none;
//             font-size: $fs-medium;
//             font-weight: 600;

//             &.active {
//                 border-bottom: 3px solid $color-secondary;
//             }
//         }
//     }

//     .theme {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 15px;

//         &__dark {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: transparent;
//             background-image: url(../../ressources/icons/moon--disabled.svg);
//             border: none;
//             width: 24px;
//             height: 24px;
//             cursor: pointer;           
//         }

//         &__light {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             background-color: transparent;
//             background-image: url(../../ressources/icons/sun--white.svg);
//             border: none;
//             width: 24px;
//             height: 24px;
//             cursor: pointer;
//         }        
//     }      
// }
    
// .main-index {

//     .home {
//         position: relative;
//         width: 100%;
//         height: 100vh;
//         background-color: $color-primary-1;
//         padding: $height-header--widescreen 50px 0;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         box-sizing: border-box;
   
//         &__3D {     
//             height: 90%;
//             max-height: 800px;
//             aspect-ratio : 1 / 1;
//             background-color: $color-primary-1-bonus;
//         }
    
//         &__info {
//             position: absolute;
//             bottom: 15%; 
//             left: 0;
//             width: 100%;
//             padding: 0 50px;
//             box-sizing: border-box;
            
//             &__title {
//                 font-size: $fs-4xl;
//                 font-weight: 900;
//             }
   
//             &__text {
//                 width: 40%;
//                 color: $color-primary-3;
//                 font-size: $fs-medium;
//                 font-weight: 600;
//                 line-height: $fs-large;
//                 padding: 50px 0;
//             }
            
//             &__btn {
//                 text-decoration: none;
//                 color: $color-primary-1;
//                 background-color: $color-secondary;
//                 border-radius: 15px;
//                 font-size: $fs-regular;
//                 font-weight: 900;
//                 padding: 10px 25px;
//             }           
//         }
//     }

//     .projects {
//         position: relative;
//         width: 100%;
//         height: calc(100vh - $height-header--widescreen);
//         background-color: $color-primary-2;
//         padding: $height-header--widescreen 0 0;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         gap: 80px;

//         &__info {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             gap: 40px;
//             width: 100%;
//             padding: 0 50px;
//             box-sizing: border-box;

//             &__title {
//                 font-size: $fs-4xl;
//                 font-weight: 900;
//             }

//             &__text {
//                 font-size: $fs-medium;
//                 font-weight: 600;
//                 line-height: $fs-large;    
//             }
//         }

//         &__gallery {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             width: 100%;
//             padding: 0 50px;
//             box-sizing: border-box;
            
//             .project-card {
//                 width: 20%;
//                 display: flex;
//                 flex-direction: column;
//                 gap: 15px;

//                 &__link {
//                     width: 100%;
//                     aspect-ratio : 1 / 1;
//                     background-color: $color-primary-3;
//                     cursor: pointer;

//                     &:hover {     
//                         background: url(../../ressources/icons/plus-circle--blue.svg) no-repeat center;
//                         background-color: $color-hover;
//                         background-size: 30%;
//                     }                 
//                 }

//                 &__description {
//                     padding-bottom: 20px;
//                 }
//             }
//         }
//     }

//     .contact {
//         position: relative;
//         height: calc(100vh - ($height-header--widescreen + $height-footer--widescreen));
//         background-color: $color-primary-1;
//         padding: $height-header--widescreen 50px 0;
//         display: flex;
//         justify-content: center;
//         align-items: center;


        

//         &__info {
//             position: absolute;
//             top: 0; 
//             left: 0;
//             width: 100%;
//             padding: 80px 50px 0;
//             box-sizing: border-box;
//             display: flex;
//             flex-direction: column;
//             gap: 30px;

            
//             &__header {
//                 display: flex;
//                 align-items: baseline;
//                 width: 100%;
//                 gap: 80px;

//                 .contact-title {
//                     font-size: $fs-4xl;
//                     font-weight: 900;
//                 }
                
//                 .contact-network {
//                     display: flex;
//                     gap: 40px;

//                     &__link {
//                         width: 42px;
//                         height: 42px;
//                         border-radius: 21px;
//                         background-color: $color-secondary;
//                         display: flex;
//                         justify-content: center;
//                         align-items: center;
//                     }
//                 }
//             }

//             &__text {
//                 text-align: left;
//             }
//         }

//         &__3D {
//             height: 90%;
//             aspect-ratio : 1 / 1;
//             background-color: $color-primary-1-bonus;
//         }  
//     }
// }


// .footer {
//     width: 100%;
//     height: $height-footer--widescreen;
//     background-color: $color-primary-3;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 40px;
    
//     &__link {
//         color: $color-primary-1;
//         text-decoration: underline;
//         font-weight: 600;
//         cursor: pointer;
//     }

//     &__text {
//         color: $color-primary-1;
//         font-weight: 600;
//     }  
// }