.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $height-header;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;

    .nav {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        gap: 50px;

        &_link {
            color: $color-white;
            text-decoration: none;
            font-size: $font-medium;
            font-weight: 600;
        }
    }

    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        &_dark {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            background-image: url(../../ressources/icons/moon--disabled.svg);
            border: none;
            width: 24px;
            height: 24px;
            cursor: pointer;           
        }

        &_light {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            background-image: url(../../ressources/icons/sun--white.svg);
            border: none;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }        
    }      
}
    
.home-container {

    .home {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: $color-primary-1;
        padding: $height-header 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
   
        &_3D {     
            height: 90%;
            max-height: 800px;
            aspect-ratio : 1 / 1;
            background-color: $color-primary-1-bonus;
        }
    
        &_info {
            position: absolute;
            bottom: 15%; 
            left: 0;
            width: 100%;
            padding: 0 50px;
            box-sizing: border-box;
            
            &_title {
                font-size: $font-h1;
                font-weight: 900;
            }

            
            &_text {
                width: 40%;
                color: $color-primary-3;
                font-size: $font-medium;
                font-weight: 600;
                line-height: $font-large;
                padding: 50px 0;
            }
            
            &_btn {
                text-decoration: none;
                color: $color-primary-1;
                background-color: $color-secondary;
                border-radius: 15px;
                font-size: $font-regular;
                font-weight: 900;
                padding: 10px 25px;
            }           
        }
    }

    .projects {
        position: relative;
        width: 100%;
        height: calc(100vh - $height-header);
        background-color: $color-primary-2;
        padding: $height-header 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;

        &_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            width: 100%;
            padding: 0 50px;
            box-sizing: border-box;

            &_title {
                font-size: $font-h1;
                font-weight: 900;
            }

            &_text {
                font-size: $font-medium;
                font-weight: 600;
                line-height: $font-large;    
            }
        }

        &_gallery {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 50px;
            box-sizing: border-box;
            
            &_work {
                width: 20%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                
                
                .project-link {
                    width: 100%;
                    aspect-ratio : 1 / 1;
                    background-color: $color-primary-3;
                    cursor: pointer;

                    &:hover {     
                        background: url(../../ressources/icons/plus-circle--blue.svg) no-repeat center;
                        background-color: $color-hover;
                        background-size: 30%;
                    }                 
                }

                .project-description {
                    padding-bottom: 20px;
                }
            }
        }
    }

    .contact {
        position: relative;
        height: calc(100vh - ($height-header + $height-footer));
        background-color: $color-primary-1;
        padding: $height-header 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &_info {
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%;
            padding: 80px 50px 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 30px;

            
            &_header {
                display: flex;
                align-items: baseline;
                width: 100%;
                gap: 80px;

                .contact-title {
                    font-size: $font-h1;
                    font-weight: 900;
                }
                
                .contact-social {
                    display: flex;
                    gap: 40px;

                    &_link {
                        width: 42px;
                        height: 42px;
                        border-radius: 21px;
                        background-color: $color-secondary;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            &_text {
                text-align: left;
            }
        }

        &_3D {
            height: 90%;
            aspect-ratio : 1 / 1;
            background-color: $color-primary-1-bonus;
        }  
    }
}


.footer {
    width: 100%;
    height: $height-footer;
    background-color: $color-primary-3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    &_link {
        color: $color-primary-1;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
    }

    &_text {
        color: $color-primary-1;
        font-weight: 600;
    }  
}