.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $height--header;
    padding: 0 $padding-sides;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    box-sizing: border-box;
    z-index: 200;

    .logo {
        padding-top: 4%;
        width: 10%;
        height: 100%;


        .st0 { 
            fill: none;
            stroke: $color-white;
            stroke-width: 6;
            stroke-miterlimit: 10;
            // filter: drop-shadow(0px 0px 40px #ffb5f0) ;
    
            stroke-dasharray: 1920px;
            stroke-dashoffset: 1920px;
            animation-name: sign;
            animation-duration: 5s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        } 
        @keyframes sign {
            to {
                stroke-dashoffset: 0;
            }
        }

        // @include tablet {
        //     font-size: $fs-xl;
        // }
    }

    .theme {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // gap: 20%;

        @include desktop {
            order: 3;
        }

        // .icon--dark {
        //     background-image: url(../../ressources/icons/moon--disabled.svg);    
        // }

        // .icon--light {
        //     background-image: url(../../ressources/icons/sun--white.svg);    
        // }
    }      

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;

        @include desktop {
            width: 100%;
            height: auto;
        }

        .icon--burger {
            background-image: url(../../ressources/icons/menu--white.svg);
            
            @include desktop {
                display: none;
            }
        }

        .nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $color-primary-1;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
    
            transform: translateX(200vw);
            transition: transform 200ms ease-in-out;

            @include desktop {
                position: relative;
                width: 100%;
                height: auto;
                background-color: transparent;
                transform: translateX(0);
                transition: transform 0ms;
            }

            &__header {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: $height--header;
                padding: 0 $padding-sides;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: $space-regular;
                box-sizing: border-box;
                z-index: 5;

                @include desktop {
                    display: none;
                }
                
                .icon--burger-closed {
                    width: $space-large;
                    height: $space-large;
                    background-image: url(../../ressources/icons/x.svg); 
                }

                
            }

            
            
            &__list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: $space-2xl;

                @include desktop {
                    width: 100%;
                    flex-direction: row;
                    gap: 8%;
                }

                .nav-link {
                    background-color: transparent;
                    border: none;
                    font-size: $fs-2xl;

                    @include desktop {
                        font-size: $fs-large;
                    }

                    &:focus {
                        border-bottom: 3px solid $color-secondary;
                    }
                }    
            }

            &:target {
                transform: translate(0);
            }
        }
    }    
}
    
.main-index {
    
    .home {
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: $height--header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
        
        &::before {
            content: "";
            position: absolute;
            bottom: -2500px;
            left: -2500px;
            width: 5000px;
            aspect-ratio: 1 / 1;
            background-color: $color-primary-1;
            // background-image: conic-gradient(from 0deg at 50% 50%, $color-primary-1 25%, $color-primary-1--lightmode 75%);
            z-index: -5;

            // transform: rotate(0deg);
            // transition: transform 2s ease-in-out;
        }        

        &__3D {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: $color-primary-1-bonus;

            @include desktop {
                // width: auto;
                // height: 100%;
                // aspect-ratio : 1 / 1;
                // margin: $space-2xl 0;
            }

            &__canvas {
                width: 100%;
                height: 10px;
            }
        }
       
        &__info {
            display: flex;
            flex-direction: column;
            gap: $space-regular;
            padding: $padding-sides;
            position: relative;

            @include mobile-large {
                gap: $space-large;
            }

            @include desktop {
                position: absolute;
                bottom: 10%; 
                left: $padding-sides;
                width: 40%;
                padding: 0;
            }

            &__title {
                font-size: $fs-4xl;
                font-weight: $fw-large;
                line-height: normal;

                @include tablet {
                    font-size: $fs-5xl;
                }

                @include desktop {
                    font-size: $fs-6xl;
                }
            }

   
            &__text > * {
                color: $color-primary-3;
                font-size: $fs-medium;
                font-weight: $fw-medium;
                line-height: 1.5;

                @include tablet {
                    font-size: $fs-large;
                    line-height: 1.75;
                }

                & span {
                    position: relative;
                }
            }
            
            
            &__btn {
                width: fit-content;
                padding: $space-xs $space-small;
                border-radius: $space-small;
                color: $color-primary-1;
                background-color: $color-secondary;
                font-size: $fs-regular;
                font-weight: $fw-large;
            }           
        }
    }

    .projects {
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: $height--header;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;

        @include desktop {
            justify-content: center;
            gap: 10%;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -2500px;
            left: -2500px;
            width: 5000px;
            aspect-ratio: 1 / 1;

            background-color: $color-primary-2;

            // background-image: conic-gradient(from 0deg at 50% 50%, $color-primary-2 25%, $color-primary-2--lightmode 75%);
            z-index: -5;

            // transform: rotate(0deg);
            // transition: transform 2s ease-in-out;
        }

        &__header {
            width: 100%;
            height: $height--projects-header;
            padding: 0 $padding-sides;
            margin-bottom: $margin-bottom--projects-header;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: $space-small;
            text-align: center;
            box-sizing: border-box;
        }

        &__gallery {
            width: 100%;
            height: $height--projects-gallery;
            display: flex;
            justify-content: center;
            align-items: center;

            @include desktop {
                height: auto;
                padding-top: 0;
            }

            // -----------------------------------------

            .gallery-mobile {

                // the css is in the folder "component"
                // -----------------------------------------

                @include desktop {
                    display: none;
                }


            }

            .gallery-pc {
                display: none;

                @include desktop {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0  $padding-sides;
                    box-sizing: border-box;
                    
                    .slide-card {
                        width: 23%;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        // transform-style: preserve-3d;
        
                        &__link {
                            position: relative;
                            width: 100%;
                            aspect-ratio : 1 / 1;
                            cursor: pointer;
                            
                            &:hover {     
                                background: url(../../ressources/icons/plus-circle--blue.svg) no-repeat center;
                                background-color: $color-hover;
                                background-size: 30%;
                            }

                            &__img {
                                position: absolute;
			                    width: 100%;
                                height: 100%;
                                object-position: 50% 50%;
                                object-fit: cover;
                                z-index: -1;
                            }
                                          
                        }
        
                        &__description {
                            padding-bottom: 20px;
                        }
                    }
                    
                }

            }
            
                
                
        }
            
            
    }
            
    .contact {
        position: relative;
        width: 100%;
        height: 100vh;
        padding-top: $height--header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $space-regular;
        overflow: hidden;
        box-sizing: border-box;

        @include mobile-large {
            gap: $space-large;
        }

        // &::before {
        //     content: "";
        //     position: absolute;
        //     bottom: -2500px;
        //     left: -2500px;
        //     width: 5000px;
        //     aspect-ratio: 1 / 1;
        //     background-image: conic-gradient(from 0deg at 50% 50%, $color-primary-1 25%, $color-primary-1--lightmode 75%);
        //     z-index: -5;

        //     transform: rotate(0deg);
        //     transition: transform 2s ease-in-out;
        // }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $color-primary-1;
            z-index: -10;

            // transition-delay: 1s;
        }

        &__info {
            width: 100%;
            padding: 0 $padding-sides;
            display: flex;
            flex-direction: column;
            gap: $space-regular;
            box-sizing: border-box;

            @include mobile-large {
                gap: $space-medium;
            }

            @include desktop {
                position: absolute;
                top: $height--header; 
                left: $padding-sides;
                width: 40%;
                padding: 0;
            }
            
            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include tablet {
                    gap: 8%;
                }
                
                .contact-network {
                    width: 100%;
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    gap: 5%;
                   
                    @include tablet {
                        justify-content: left;
                        gap: 3%;    
                    }

                    @include desktop {
                        justify-content: left;
                        gap: 7%;    
                    }

                    &__link {
                        display: flex;
                    
                        .icon--mail {
                            background-image: url(../../ressources/icons/mail--blue.svg);
                        }
                    
                        .icon--linkedin {
                            background-image: url(../../ressources/icons/linkedin--blue.svg);
                        }

                        .icon--codepen {
                            background-image: url(../../ressources/icons/codepen--blue.svg);
                        }
                    }
  
                }
            }
        }

        &__3D {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -5;

            &__canvas {
                width: 100%;
                height: 10px;
            }
        }
    }
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $height--footer;
    backdrop-filter: blur(6px);
    background: rgba(21,30,76,0.5);

    box-shadow: 0 8px 32px rgb(2, 4, 24);
    
    padding: 0 $padding-sides;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $space-2xs;
    box-sizing: border-box;
    
    @include mobile-large {
        gap: $space-xs;
    }

    @include tablet {
        padding: 0;
        flex-direction: row;
        justify-content: center;
        gap: $space-xl;
    }
    
    &__law {
        width: 100%;
        display: flex;
        justify-content: space-between; 
        align-items: left; 

        @include tablet {
            width: auto;
            gap: $space-xl;
        }

        .link-law {
            width: 100%;
            color: $color-white;
            font-size: $fs-xs;
            font-weight: $fw-regular;
            text-decoration: underline;  
            
            @include  mobile-large {
                font-size: $fs-small;
            }
        }
    }

    &__text {
        color: $color-white;
        font-size: $fs-xs;
        font-weight: $fw-regular;
        text-align: center;

        @include mobile-large {
            font-size: $fs-small;
        }
    }
}