.project-container {
    background-color: $color-primary-3;
    color: $color-primary-1;

    .full-page {
        width: 100vw;
        height: 100vh;

        .close-page {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 75px;
            height: 75px;
            background-image: url(../../ressources/icons/x-circle--blue.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .projet {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 60px 60px 0;

            &_gallery {
                display: flex;
                justify-content: space-between;

                &_img {
                    width: 50vh;

                    .img-project {
                        width: 100%;
                        aspect-ratio : 1 / 1;
                        background-color: $color-primary-1;
                    }

                    .img-description {
                        padding-top: 15px;
                    }
                }
            }        
        }

        .scroll-down {
            position: absolute;
            bottom: 25px;
            right: 50%;
            width: 40px;
            height: 40px;
            background-image: url(../../ressources/icons/arrow-down--blue.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}