@mixin light-mode {
    color: $color-primary-1;

    // Page index

    .header {
        .nav__list__link {
            color: $color-primary-1;

            &.active {
                border-bottom: 3px solid $color-secondary--light-mode;
            }
        }

        .theme__dark {
            background-image: url(../../ressources/icons/moon--blue.svg);   
        }
    
        .theme__light {
            background-image: url(../../ressources/icons/sun--disabled.svg);   
        }
    }

    .home {
        background-color: #FEF1D9;
        &::before {
            
            transform: rotate(270deg);
            opacity: 1;
            transition: transform 2s ease-in-out, opacity 1s ease-in-out;
            transition-delay: 0, 2s;
          }

        &__3D {
            background-color: $color-primary-1-bonus--light-mode;  
        }

        &__info__text {
            color: $color-primary-1;
        }

        &__info__btn {
            background-color: $color-secondary--light-mode;
        }
    }

    .projects {
        background-color: $color-primary-2--light-mode;

        .project-card__link {
            background-color: $color-white;
    
            &:hover {
                background-color: $color-hover--light-mode;
            }
        }
    }

    .contact {
        background-color: $color-primary-1--light-mode;

        &__3D {
            background-color: $color-primary-1-bonus--light-mode;
        }

        .contact-network__link {
            background-color: $color-secondary--light-mode; 
        }
    }

    .footer {
        background-color: $color-white;
    }

    // --------------------------------------------------------------

    // Page Project

    .main-project {
        background-color: $color-primary-1--light-mode;
        .full-page{
            .projet-illustration__img {
                background-color: $color-primary-2--light-mode;
            }
        } 
    }
}



// Small devices (landscape phones, 576px and up)
@mixin mobile-large {
    @media screen and (min-width: map-get($breakpoints, mobile-large)){
        @content;
    }
}

// Medium devices (tablets, 768px and up)
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

// Large devices (desktops, 992px and up)
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

// Extra large devices (large desktops, 1200px and up)
@mixin widescreen {
    @media screen and (min-width: map-get($breakpoints, widescreen)){
        @content;
    }
}
