@mixin light-mode {
    color: $color-primary-1;

    a {
        color: $color-primary-1;
    }

    // Page index

    .header {
        
        .theme {

            .icon--light {
                background-image: url(../../ressources/icons/sun--disabled.svg);
            }

            .icon--dark {
                background-image: url(../../ressources/icons/moon--blue.svg);   
            }
        }
        
        .menu {     

            .icon--burger {
                background-image: url(../../ressources/icons/menu--blue.svg); 
            }

            .nav {
                background-color: $color-primary-1--lightmode;
                    @include desktop {
                        background-color: transparent;
                    }

                .header {

                    .icon--burger-closed {
                        background-image: url(../../ressources/icons/x--blue.svg); 
                    }
                }

                &__list {

                    .nav-link {
            
                        &:focus  {
                            border-bottom: 3px solid $color-secondary--lightmode;
                        }
                    }
                }       
            }
        }  
    }

    .main-index {
        
        .home {

            &::before {
                transform: rotate(-270deg);
                transition: transform 2s ease-in-out;
            }

            &__3D {
                background-color: $color-primary-1-bonus--lightmode;  
            }
    
            &__info {
                &__text > * {
                    color: $color-primary-1;
                }
    
                &__btn {
                    background-color: $color-secondary--lightmode;
                }
            }
        }
    
        .projects {
            
            &::before {
                transform: rotate(-270deg);
                transition: transform 2s ease-in-out;
            }

            &__gallery {

                .gallery-mobile {

                    &__description {
                        color: $color-white;
                    }
                }

                .gallery-pc {

                    .slide-card__link {

                        &:hover {
                            background-color: $color-hover--lightmode;
                        }
                    }
                }      
            }
        }
    
        .contact {
    
            &::before {
                transform: rotate(-270deg);
                transition: transform 2s ease-in-out;
            }

            &__info {

                &__header {

                    .contact-network {

                        &__link {
                            .icon--contact {
                                background-color: $color-secondary--lightmode;
                            }
                        }
                    }
                }
            }
    
            &__3D {
                background-color: $color-primary-1-bonus--lightmode;
            }
        }
    }
    
    .footer {
        background-color: $color-white;
    }

    // --------------------------------------------------------------

    // Page Project

    .main-project {
        background-color: $color-primary-1--lightmode;

        .full-page{

            .projet-illustration__img {
                background-color: $color-primary-2--lightmode;
            }
        } 
    }
}


// Small devices (landscape phones, 576px and up)
@mixin mobile-large {
    @media screen and (min-width: map-get($breakpoints, mobile-large)){
        @content;
    }
}

// Medium devices (tablets, 768px and up)
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}


// Large devices (desktops, 992px and up)
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

// Extra large devices (large desktops, 1200px and up)
@mixin widescreen {
    @media screen and (min-width: map-get($breakpoints, widescreen)){
        @content;
    }
}