$color-primary-1: #2B335A;
$color-primary-2: #5564AB;
$color-primary-3: #C6CEF7;

$color-primary-1-bonus: #d9d9d91a;
$color-primary-1-bonus--light-mode: #E5DBCD;

$color-secondary: #65FFCB;

$color-hover: #c6cef770;


$color-primary-1--light-mode: #FEF1D9;
$color-primary-2--light-mode: #FFD78C;



$color-secondary--light-mode: #FF8466;

$color-hover--light-mode:#fffffe99;;

$color-white: #FFFFFE;


$font-regular: 1rem;
$font-medium: 1.125rem;
$font-large: 1.25rem;
$font-Xlarge: 1.5rem;
$font-h3: 2rem;
$font-h2: 4rem;
$font-h1: 6rem;


$space-regular: 50px;
$space-medium: 100px;
$space-large: 1.25rem;
$space-Xlarge: 1.5rem;





$breakpoints: (
    "mobile-large": 576px,
    "tablet": 768px,
    "desktop": 992px,
    "widescreen": 1200px,
);

//mobile
$height-header: 30px;
$height-footer: 30px;

//widescreen
$height-header--widescreen: 60px;
$height-footer--widescreen: 60px;